.nice_bottle img{
       
       height: 200px;
       width: 200px;
}
.nice_bottle{
    padding: 50px;
    border: 5px solid rgb(58, 22, 22);
}
.nice_bottle h3{
    color: red;
    border: 2px dotted salmon;
    background-color:bisque;
}
.nice_bottle p{
    color:blue;
    font-weight: 800;
    border: 3px solid black;
    border-radius: 10px;
}